<!-- start custom footer snippets -->
<!-- Global site tag (gtag.js) - Google Analytics -->
<!-- https://visitor-badge.glitch.me/ -->
<!-- Visitor counter with custom style -->
<p align="center">
    <a href="https://github.com/ahsouri/ahsouri.github.io">
      <img src="https://visitor-badge-reloaded.herokuapp.com/badge?page_id=ahsouri.ahsouri.github.io&color=55acb7&style=for-the-badge&logo=github" 
           alt="visitor badge" 
           style="display: inline-block; margin: 5px 0;" />
    </a>
  </p>
<!-- end custom footer snippets -->
